@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
.homepage-carouselGene {
  margin-top: 10px;
  margin-bottom: 20px;
}

.homepage-slider {
  position: relative;
  width: 100%;
  height: 500px;
}
.homepage-sliderbac {
  width: 100%;
  height: 100%;
}
.homepage-sliderbac img {
  width: 100%;
  height: 100%;
}

.homepage-sliderabso {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
}
.homepage-sliderabso1 h1 {
  text-align: center;
  font-size: 35px;
  font-weight: 900px;
  color: #fff;
}

.homepage-sliderabso2 {
  text-align: center;
  font-size: 20px;
  font-weight: 600px;
  color: #fff;
}
